# Python caches
__pycache__/
*.pyc

# Firebase Secret Keys (CRITICAL!)
backend/serviceAccountKey.json

# Environment variables & local environment
.env
venv/
.vscode/
# Frontend Configs
Frontend/js/config.js